body {
    font-family: "Open Sans", sans-serif; }
  
  .navbar {
    background-image: linear-gradient(to right,#2980B9, #6DD5FA, #FFFFFF);}
  
  .nav-item {
    border: 2px solid white; }
  
  .nav-text {
    border: 3px solid white; }
  