body {
    font-family: "Open Sans", sans-serif; }
  
  .jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
    color: white;
    margin: 0; 
    height: 200px;}
    